@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  text-align: center;
  color: #222;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 30px;
}

.cuisines {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.cuisine {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #F24F13;
  border: 1px solid #222;
  border-radius: 40px;
  margin: 2px;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuisine button {
  color: #F2F2F2;
  background-color: #0000;
  border: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}
